.btn {
  @include bouton-base();

  &--secondaire {
    @include bouton-base($couleur-surface);
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $couleur-primaire;
    color: $couleur-primaire;
    padding: $espacer-sm $espacer-lg;
    border-radius: $radius-petit;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      background-color: $couleur-primaire;
      color: $couleur-blanc;
    }
  }
}
