// @use '../abstracts/variables' as *;

body {
  font-family: $font-principal;
  font-size: $taille-base;
  color: $couleur-texte;
  background-color: $couleur-fond;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: $font-titre;
  font-weight: 700;
  color: $couleur-titre;
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-family: $font-principal;
  font-weight: 600;
  color: $couleur-titre;
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
} // responsive automatique
h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}
h3 {
  font-size: clamp(1.2rem, 2vw, 1.75rem);
}

// Accents typographiques avec Fragment Mono
.label,
.tag,
.caption {
  font-family: $font-mono;
  font-size: $taille-petit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
